//colors
$linkColor: #00B7FF;
$backgroundColor: #E0E0E0;

$navColor: darken($backgroundColor, 30);

//fonts
$font: Ubuntu;

body {
	font-family: $font;
	padding: 50px;
	background: $navColor;
}

#content {
	width: 100%;
	height: 100%;
	background: $backgroundColor;
	position: absolute;
	left: 0;
	top: 0;
//	padding-left: 2em;
}

#pageContent {
	padding-left: 5em;
}

a {
	color: $linkColor;
}

#nav {
	z-index: 0;
	position: fixed;
	float: left;
	left: 0;
	top: 0;
	height: 100%;
	overflow: auto;
	background: $navColor;
	h1 {
		padding: 0.5em;
		margin: 0;
		border-bottom: solid 1px darken($backgroundColor, 40);
	}
	li {
		ul {
			display: none;
		}
	}
}

#navButton {
	float: left;
	left: 0;
	top: 2em;
	position: fixed;
	z-index: 1;
	color: #FFFFFF;
	background: #090909;
	font-size: 20px;
	padding: 1em;
	border-top-right-radius: .25em;
	border-bottom-right-radius: .25em;
	//display: inline !important;

	i {
		position: relative;
		vertical-align: middle;
	}

	#navLabel {
		display: none;
		//margin-left: 1em;
		padding: 0;
		vertical-align: middle;
	}

	&:hover {
		cursor: pointer;
	}
}

#banner {
	width: 100%;
	height: 2em;
	text-align: center;
	//vertical-text-align: middle;
}