@mixin transition($properties) {
	-webkit-transition: $properties;
	-moz-transition:$properties;
	-ms-transition:$properties;
	-o-transition:$properties;
	transition:$properties;
}

//colors
$linkColor: #00B7FF;
$backgroundColor: #E0E0E0;

$navColor: darken($backgroundColor, 70);
$brightNavColor: darken($backgroundColor, 50);

//fonts
$font: Ubuntu;

body {
	font-family: $font;
	padding: 50px;
	background: $navColor;
	overflow-x: hidden;
}

#content {
	width: 100%;
	height: 100%;
	background: $backgroundColor;
	position: absolute;
	left: 0;
	top: 0;
	//&:after {
	//	content: '\A';
	//	position: absolute;
	//	width: 100%;
	//	height: 100%;
	//	top: 0;
	//	left: 0;
	//	background: rgba(0, 0, 0, 0.6);
	//	opacity: 0;
	//	@include transition(opacity 0.4s linear);
	//}
}

//#content.darken {
//	&:after {
//		opacity: .4 !important;
//	}
//}

#overlay {
	content: '\A';
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.6);
	opacity:0;
	display:none;
}

#pageContent {
	padding-left: 5em;
	height: calc(100% - 4em);
}

a {
	color: $linkColor;
}

#nav {
	z-index: 0;
	position: fixed;
	float: left;
	left: 0;
	top: 0;
	height: 100%;
	overflow: auto;
	background: $navColor;
	color: $backgroundColor;
	h1 {
		padding: 0.5em;
		margin: 0;
		border-bottom: solid 1px darken($backgroundColor, 40);
	}
	#baseList {
		padding-left: 0;
	}
	li {
		cursor: pointer;
		list-style-type: none;
		div {
			padding: 4px 0;
			background: $navColor;
			@include transition(background 0.1s linear);
			&:hover {
				background: $brightNavColor !important;
			}
		}
		ul {
			display: none;
		}
	}
}

#navButton {
	float: left;
	left: 0;
	top: 2em;
	position: fixed;
	z-index: 1;
	color: $backgroundColor;
	background: $navColor;
	font-size: 20px;
	padding: 1em;
	border-top-right-radius: .25em;
	border-bottom-right-radius: .25em;
	display: inline !important;

	i {
		position: relative;
		vertical-align: middle;
	}

	#navLabel {
		display: none;
		padding: 0;
		vertical-align: middle;
	}

	&:hover {
		cursor: pointer;
	}
}

#banner {
	width: 100%;
	height: 2em;
	text-align: center;
	background: lighten($backgroundColor, 5);
	border-bottom: solid 1px darken($backgroundColor, 50);
	//vertical-align: middle;
	display: inline-block;
	span {
		display: inline-block;
		vertical-align: middle;
		margin-top: auto;
		margin-bottom: auto;
	}
}

#mediaMount {
	//background: black;
	width: 90%;
	height: calc(100% - 2em - 1px);
	margin: auto;
	padding: 2em;
	img {
		height: auto;
		width: auto;
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
		background-image: url('../images/loading.gif');
		background-position: center;
	}
}