extends layout

block head
    link(rel='stylesheet', href='public/stylesheets/index.css')

block content
    //h1= title
    //p.test Welcome to #{title}
    //p.test Test
    //i.fa.fa-power-off
    div#mediaMount
