mixin navBlock(dir)
    ul
        for item in dir
            li
                div(class= item.type)
                    if item.type == "folder"
                        i.fa.fa-folder
                    else if item.type == "file"
                        i.fa.fa-file
                    = " " + item.name
                if item.type == "folder"
                    +navBlock(item.children)


doctype html
head
    title= title
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin' rel='stylesheet' type='text/css')
    script(src='javascripts/jquery-1.11.3.min.js')
    script(src='javascripts/global.js')
    block head
html
    body
        div#nav
            h1 Navigation
            //p= JSON.stringify(mediaFiles)
            +navBlock(mediaFiles.children)

        div#navButton
            i.fa.fa-bars

        div#content
            div#banner= bannerText
            div#pageContent
                block content
