mixin navBlock(dir, listID)
    if dir
        ul(id= listID)
            for item in dir
                li
                    div(class= item.type path=item.path)
                        if item.type == "folder"
                            i.fa.fa-folder
                        else if item.type == "file"
                            if item.extention == 'jpg' || item.extention == 'jpeg' || item.extention == 'png'
                                i.fa.fa-file-image-o.image
                            else
                                i.fa.fa-file
                        span= " " + item.name
                    if item.type == "folder" && item.children
                        +navBlock(item.children, "")


doctype html
html
    head
        title= title
        link(rel='stylesheet', href='public/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='public/stylesheets/style.css')
        link(href='http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin' rel='stylesheet' type='text/css')
        script(src='public/javascripts/jquery-1.11.3.min.js')
        script(src='public/javascripts/global.js')
        block head
    body
        div#nav
            h1 Navigation
            +navBlock(mediaFiles, "baseList")

        div#navButton
            i.fa.fa-bars

        div#content
            div#banner
                span #{bannerText}
            div#pageContent
                //p= JSON.stringify(mediaFiles)
                block content
        div#overlay
