body {
  font-family: Ubuntu;
  padding: 50px;
  background: #949494; }

#content {
  width: 100%;
  height: 100%;
  background: #E0E0E0;
  position: absolute;
  left: 0;
  top: 0; }

#pageContent {
  padding-left: 5em; }

a {
  color: #00B7FF; }

#nav {
  z-index: 0;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background: #949494; }
  #nav h1 {
    padding: 0.5em;
    margin: 0;
    border-bottom: solid 1px #7a7a7a; }
  #nav #baseList {
    padding-left: 0; }
  #nav li {
    cursor: pointer;
    list-style-type: none; }
    #nav li div {
      padding: 4px 0;
      background: #949494; }
      #nav li div:hover {
        background: #7a7a7a; }
    #nav li ul {
      display: none; }

#navButton {
  float: left;
  left: 0;
  top: 2em;
  position: fixed;
  z-index: 1;
  color: #FFFFFF;
  background: #090909;
  font-size: 20px;
  padding: 1em;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  display: inline !important; }
  #navButton i {
    position: relative;
    vertical-align: middle; }
  #navButton #navLabel {
    display: none;
    padding: 0;
    vertical-align: middle; }
  #navButton:hover {
    cursor: pointer; }

#banner {
  width: 100%;
  height: 2em;
  text-align: center; }
