body {
  font-family: Ubuntu;
  padding: 50px; }

#content {
  width: 100%;
  height: 100%;
  background: #A0A0A0;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 2em; }

a {
  color: #00B7FF; }

#nav {
  z-index: -1;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  padding: 2em;
  background: #878787; }

#navButton {
  float: left;
  left: 0;
  top: 2em;
  position: fixed;
  z-index: 1;
  color: #FFFFFF;
  background: #090909;
  font-size: 20px;
  padding: 1em;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em; }
  #navButton i {
    position: relative;
    vertical-align: middle; }
  #navButton #navLabel {
    display: none;
    padding: 0;
    vertical-align: middle; }

body {
  background-color: #A0A0A0; }
