body {
  font-family: Ubuntu;
  padding: 50px;
  background: #2e2e2e;
  overflow-x: hidden; }

#content {
  width: 100%;
  height: 100%;
  background: #E0E0E0;
  position: absolute;
  left: 0;
  top: 0; }

#overlay {
  content: "\a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: none; }

#pageContent {
  padding-left: 5em;
  height: calc(100% - 4em); }

a {
  color: #00B7FF; }

#nav {
  z-index: 0;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background: #2e2e2e;
  color: #E0E0E0; }
  #nav h1 {
    padding: 0.5em;
    margin: 0;
    border-bottom: solid 1px #7a7a7a; }
  #nav #baseList {
    padding-left: 0;
    margin: 0 0.5rem; }
  #nav li {
    cursor: pointer;
    list-style-type: none; }
    #nav li div {
      padding: 4px 0;
      background: #2e2e2e;
      -webkit-transition: background 0.1s linear;
      -moz-transition: background 0.1s linear;
      -ms-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.1s linear; }
      #nav li div:hover {
        background: #616161 !important; }
    #nav li ul {
      display: none; }

#navButton {
  float: left;
  left: 0;
  top: 2em;
  position: fixed;
  z-index: 1;
  color: #E0E0E0;
  background: #2e2e2e;
  font-size: 20px;
  padding: 1em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  display: inline !important; }
  #navButton i {
    position: relative;
    vertical-align: middle; }
  #navButton #navLabel {
    display: none;
    padding: 0;
    vertical-align: middle; }
  #navButton:hover {
    cursor: pointer; }

#banner {
  width: 100%;
  height: 2em;
  text-align: center;
  background: #ededed;
  border-bottom: solid 1px #616161;
  display: inline-block; }
  #banner span {
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto; }

#mediaMount {
  width: 90%;
  height: calc(100% - 2em - 1px);
  margin: auto;
  padding: 2em; }
  #mediaMount img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    background: url("/public/images/loading.gif") center; }

.message {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.39286rem;
  padding-bottom: 0.39286rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.28571rem; }

.message.neutral {
  background-color: #F8F8F9;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
  color: rgba(0, 0, 0, 0.87); }

.message.info {
  background-color: #F8FFFF;
  box-shadow: 0 0 0 1px #A9D5DE inset, 0 0 0 0 transparent;
  color: #276F86; }

.message.positive {
  background-color: #FCFFF5;
  box-shadow: 0 0 0 1px #A3C293 inset, 0 0 0 0 transparent;
  color: #2C662D; }

.message.negative {
  background-color: #FFF6F6;
  box-shadow: 0 0 0 1px #E0B4B4 inset, 0 0 0 0 transparent;
  color: #DB2828; }

div.musicPlayer {
  position: relative;
  width: 40rem;
  margin: 0 auto;
  height: 40rem;
  background-image: url("/public/images/album-art-missing.png");
  background-size: cover; }
  div.musicPlayer img.albumArt {
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s; }
  div.musicPlayer audio {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    margin: 0 auto;
    bottom: 0; }

/*# sourceMappingURL=style.css.map */
